nav {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
}

.navLeft {
  display: flex;
  align-items: center;
}

.navLeft__logo {
  height: 30px;
  display: flex;
}

.navLeft__container {
  display: flex;
  align-items: center;
}

.navLeft__links {
  padding: 8px 10px;
  margin-left: 20px;
  display: flex;
  cursor: pointer;
}

.navLeft__links:hover {
  background: #5e5e5e;
  border-radius: 8px;
}

.navLeft__link {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}

.navRight {
  display: flex;
  align-items: center;
}

.navRight__links {
  padding: 10px 20px;
  display: flex;
  cursor: pointer;
}

.navRight__links:hover {
  background: #5e5e5e;
  border-radius: 8px;
}

.navRight__link {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
}

.cart {
  font-size: 18px;
  margin-bottom: -3px;
}

.navSymbols {
  display: none;
}

.symbol {
  margin-right: 20px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.symbol:last-child {
  margin-right: 0px;
}

/* NAV BURGER SECTION */

.navLeft__burger {
  display: none;
}

.burger__logo {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  cursor: pointer;
}

.burger__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-left: 8px;
}

.burger__list--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 40px;
  margin-bottom: 60px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.burger__list--wrapper:hover {
  transform: scale(1.03);
}

.burger__links--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding-left: 0;
}

.burger__links {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding-left: 0px;
}

.burger__link {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 900;
  cursor: pointer;
}
/*  */

@media screen and (max-width: 1200px) {
  .navSymbols {
    display: flex;
  }

  .navLeft--mobile {
    display: flex;
    align-items: center;
  }

  .navLeft__burger {
    display: flex;
  }

  .navLeft__container {
    display: none;
  }

  .navRight {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .navRight {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  nav {
    padding: 10px 20px;
  }

  .navLeft__container {
    padding-left: 10px;
  }
}
