@font-face {
  font-family: "GD Sherpa Medium";
  src: url("https://db.onlinewebfonts.com/t/100c7ffee4c602cfa9628a6c791c14cd.eot");
  src: url("https://db.onlinewebfonts.com/t/100c7ffee4c602cfa9628a6c791c14cd.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/100c7ffee4c602cfa9628a6c791c14cd.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/100c7ffee4c602cfa9628a6c791c14cd.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/100c7ffee4c602cfa9628a6c791c14cd.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/100c7ffee4c602cfa9628a6c791c14cd.svg#GD Sherpa Medium")
      format("svg");
}

* {
  font-family: "GD Sherpa Medium";
  box-sizing: border-box;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding: 20px 60px;
}
